{% extends 'base.html' %}

{% block body %}
    <header>
      <h1>About our Team</h1>
      
    </header>
    <main>
      <section>
        <div class="container" >
          <h2>Nivedita singh Singh</h2>
        <p>Backend coder of this project.</p>
        <p>BCA student at Babu Banarasi Das University</p>
      </div>
      </section>
  <section>
    <div class="container" mt-3 >
        <h2>Prashansha Singh</h2>
        <p>Frontend coder of this project.</p>
        <p>BCA student at Babu Banarasi Das University</p>
      
        <p></p>
        </div>
      </section>
     
        </body>

{% endblock %}


{% block css %}
<style>
  body {
    background-image: url('/static/images/view li.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

 


  h1 {
        text-align: center;
          }

      .container {
        background-color: #f2f2f2;
        padding: 10px;
        margin: 20px;
       
      }
    </style>


{% endblock %}

{% block js %}{% endblock %}
