{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">
  <form class="d-flex text-center" method="post" action="/search">
    <div class="col">
      <div class="mb-3 input-group">
        <input type="search" name="query" id="query" class="form-control form-control-lg" placeholder="library name here" aria-describedby="search_help_id">
        <button class="btn btn-outline-secondary">Search libraries</button>

      
      </div>
      <div class="container p-3 my-3 ">
      <div class= "container p-3 my-3 bg-white text-black">
      
        
        <h2>About 'PYTHON LIBRARY MANAGER'</h2>
      
        <p>Python library Manager is an all-in-one solution for managing Python libraries on your system. With a sleek and intuitive GUI, Python library Manager makes it easy to install, update, and remove Python libraries, view their dependencies, and access their documentation. You customize PyLib Manager's settings to your liking, including language preferences and notification settings.
          Whether you're a developer, data scientist, or just a Python enthusiast, Python library Manager is the ultimate tool for managing your Python libraries with ease and efficiency.
          </p>
        </div>

      
    </div>
<div class="container p-3  ">
  <div class= "container p-3  bg-light text-black">
    

  <a href="/library"><button type="button" class="btn btn-outline-secondary">install</button></a>
  <a href="/library"><button type="button" class="btn btn-outline-secondary">uninstall</button></a>
  <a href="/library"><button type="button" class="btn btn-outline-secondary">Update</button></a>

</div>    
</div>    
</div>
</div>
  </form>
</div>

{% endblock %}
{% block css %}
  <style>
  body {
    background-image: url('/static/image/lck image.jpg');
      background-repeat: no-repeat;
        background-size: cover;
    }
  </style>
  <style>
body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(184, 141, 174, 0.4);
    }
    h1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    form {
        width: 900px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 50px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px #888888;
    }
    label {
        display: block;
        margin-bottom: 50px;
        font-weight: bold;
    }
  </style>

{% endblock %}
{% block js %}{% endblock %}

