{% extends 'base.html' %}

{% block body %}
<div class="container mt-3">
  <form class="d-flex text-center">
    <div class="col">
      <div class="mb-3 input-group">
        <input type="search" name="query" id="query" class="form-control form-control-lg" placeholder="library name here" aria-describedby="search_help_id">
        <button type="button" class="btn btn-outline-secondary">Search libraries</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block css %}
  <style>
  body{
    background: #e2dae2;
  }
  </style>
{% endblock %}
{% block js %}{% endblock %}

