{% extends 'base.html' %}

{% block css %}
<style>
	 body {
    background-image: url('/static/images/123.webp');
      background-repeat: no-repeat;
        background-size: cover;
    }

	header {
  background-color:rgba(245, 113, 240, 0);
  margin: 0 auto 98;
}
</style>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<h1 class="center">List of Items</h1>
		{% for library in names %}
		<div class="col-sm-4 p-3">
			<div class="card shadow-lg">
				<div class="card-body">
					<h3 class="card-title">{{library.name}}</h3>
					<p class="card-text"><sup>{{library.version}}</sup></p>
					<p class="card-text"><b>Source : {{library.source}}</b></p>
				</div>
				<div class="card-footer">
					<!-- actions -->
					<a href="/view/{{library.name}}" class="btn btn">
						<i class="fa fa-eye"></i>
					</a>
					<a href="/update/{{library.name}}" class="btn btn">
						<i class="fa fa-edit"></i>
					</a>
					<a href="/uninstall/{{library.name}}" class="btn ">
						<i class="fa fa-trash text-danger"></i>
					</a>
				</div>
			</div>
		</div>
		
		{% endfor %}
		
	</div>
</div>
{% endblock %}
{% block js %}{% endblock %}


		
		
		
		
		
		